<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>94987259147-6kcpa0b4sal6v0t1c59smmut46igdac9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdRNsEWCmvwJlk7jJ2jwc-DpGzaw6wXhg</string>
	<key>GCM_SENDER_ID</key>
	<string>94987259147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.serphantsid.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>serphanid</string>
	<key>STORAGE_BUCKET</key>
	<string>serphanid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94987259147:ios:a56510e205a53a3582660e</string>
	<key>DATABASE_URL</key>
	<string>https://serphanid-default-rtdb.firebaseio.com</string>
</dict>
</plist>